.footer {
  width: 880px;
  color: #545454;
  margin: 0 auto 60px;
  font-size: 18px;
  display: flex;
}

@media (max-width: 767px) {
  .footer {
    width: 282px;
    font-size: 14px;
    /* margin: 14px auto 36px; */
  }
}
