.page {
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #000;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /* margin: 0 auto 60px; */
  /* margin-left: auto; */
}
