.profile {
  width: 880px;
  height: 120px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 50px;
}

.profile__avatar {
  width: 168.75px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile__cardImage {
  max-width: 120px;
  border-radius: 50%;
}

.profile__profileInfo {
  max-width: 415px;
  display: grid;
  grid-template-areas:
      "title button"
      "subtitle .";

}

.profile__title {
  grid-area: title;
  max-width: 373px;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  color: #fff;
  margin: 0;
}

.profile__subtitle {
  grid-area: subtitle;
  width: 415px;
  text-align: left;
  font-size: 18px;
  color: #fff;
  margin: 0;
  padding-top: 16px;
}

.profile__buttonEdit{
  grid-area: button;
  width: 24px;
  height: 24px;
  background: transparent url("../images/Edit\ Button.png") center no-repeat;
  border: 1px solid #fff;
  padding: 0;
  margin-top: 15px;

}

.profile__buttonEdit:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__addButto {
  background-image: url("../images/Add\ Button.png");
  display: flex;
  width: 150px;
  height: 50px;
  border: 1px solid #000;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

